{{ define "sobre.html" }}
{{ template "menu.html" . }}

<div class="container">
    
        <h1 class="bd-title" id="content">Sobre</h1>
        
        O Catecismo da Igreja Católica, promulgado pelo Papa João Paulo II, é um dos legados marcantes de seu pontificado. 
        Foi oficialmente promulgado em 11 de outubro de 1992, coincidindo com o 30º aniversário da abertura do Concílio Vaticano II. 
        João Paulo II apresentou o Catecismo aos fiéis em dezembro do mesmo ano, e considerou a sua publicação como um dos principais eventos de seu pontificado​​. 
        
        <p></p><p>João Paulo II apresentou o Catecismo aos fiéis em dezembro do mesmo ano, e considerou a sua publicação como um dos 
        principais eventos de seu pontificado​. O lançamento inicial foi em francês, mas a edição oficial em latim só foi promulgada em 1997​1​. 
        A promulgação deste Catecismo serviu como um recurso valioso para proporcionar instrução e clareza sobre a fé católica para os fiéis em todo o mundo.</p>

        <p></p><p>O Papa João Paulo II entregou o Catecismo da Igreja Católica aos fiéis de todo o mundo, apresentando-o como um "texto de referência" para uma catequese renovada nas fontes vivas da fé​2​. Este Catecismo foi uma realização importante que surgiu de uma iniciativa que começou em janeiro de 1985, quando João Paulo II convocou uma Assembleia Especial do Sínodo dos Bispos para discutir os frutos do Concílio Vaticano II na vida da Igreja​3​.</p>

        <p></p><p>O Catecismo é visto como um esforço significativo para manter a continuidade com a terminologia do magistério tradicional, 
        o que foi um dos motivos pelos quais foi bem recebido, não apenas pelos que nasceram após o Concílio Vaticano II, 
        mas também por outros membros da Igreja Católica​4​.</p>

        <p></p><p></p>A promulgação deste Catecismo serviu como um recurso valioso para proporcionar instrução e clareza sobre a fé católica 
        para os fiéis em todo o mundo.</p>

        <p>Este site foi criado a partir do próprio texto do vaticano, em 30/10/2023 <a href="https://www.vatican.va/archive/cathechism_po/index_new/prima-pagina-cic_po.html"> Leia aqui </p>

  
</div>

{{ template "footer.html" . }}
{{ end }}