
mark {
    background-color: #FFD700;  /* Esta é uma cor amarela mais escura */
    color: black;  /* Esta é a cor do texto */
}
body {
    background-color: #212529;
    color: #fff;
}
.navbar {
    margin-bottom: 40px;
}
.rounded-pill {
    border-radius: 50rem !important;
}
.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}
.btn-lg {
    width: 150px;
}
.my-footer {
    padding-top: 200px;  /* Este valor pode ser ajustado para obter o espaçamento desejado */
}
.content {
margin-bottom: 100px;
}
   